URxvt.font: xft:Hack:size:6
URxvt.scrollBar:false
URxvt*cursorBlink:true
URxvt*cursorUnderline:0
URxvt*rate: 99  99
! special
!*.foreground:   #ffffff
*.cursorColor:  #45403a
*.foreground :  #45403a
!urxvt*depth: 32
*.background :  #d5d0ba
*.color0:   #45403a
*.color8:   #65605a

*.color1:   #d70000
*.color9:   #ff5f5f

*.color2:   #878700
*.color10:  #afaf5f

*.color3:   #af8700
*.color11:  #d7af5f

*.color4:   #0087d7
*.color12:  #5fafff

*.color5:   #d70087
*.color13:  #ff5faf

*.color6:   #008787
*.color14:  #00afaf

*.color7:   #8a8570
*.color15:  #d5d0ba

!rofi color theme
rofi.color-enabled: true
rofi.color-window: #d5d0ba, #45403a, #d9c6b5
rofi.color-normal: #d5d0ba, #45403a, #d5d0ba, #45403a, #d9c6b5
rofi.color-active: #0039ff, #68ba50, #0039ff, #45403a, #45403a
rofi.color-urgent: #0039ff, #ff7047, #0039ff, #45403a, #45403a
rofi.separator-style: dash
