@import "macchiato.css";

* {
  /* reference the color by using @color-name */
  color: @text;
}

#waybar {
  background: transparent;
  color: @text;
}

.left {
   font-size: 15px;	
} 

.right { 
	font-size: 13px;
}

 #workspaces button.focused {
	background-color: @crust;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-media,
#workspaces, 
#window
 {
  background-color: @surface0;
  padding: 0px 15px;
  border-radius: 5rem;
}

