@import "macchiato.css";

* {
  /* reference the color by using @color-name */
  color: @text;
  border-radius: 0;
}
/*window.HDMI-A-1 * {
  margin: -1.5 
} */

#waybar {
  background: @surface0;
  color: @text;
}

.left {
   font-size: 15px;	
} 

.right { 
	font-size: 13px;
}

#workspaces button.focused {
	background-color: @crust;
}
window#waybar.empty #window {
  background-color: transparent;
}
#workspaces button {
  background-color: @surface0;
  padding: 0px 2px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-media,
#window
 {
  background-color: @surface0;
  padding: 0px 10px;
}

